---
layout: default
---
        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><img src="images/logo.svg" alt="auv-iitk" /></span>
            <span class="typedheader typed"></span> <!-- filled by main.js using typed.js -->
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Who am I?</h2>
                        </header>
                        <p>Hi, thanks for stopping by. I'm Erica, an international researcher with a passion for all aspects of <bf>human-centered design.</bf><br> </p>
                    </div>
                    <span class="image"><img src="images/kid avatar.jpg" alt="erica" /></span>
                </div>
            </section>
            <section id="specialties" class="main special">
                <header class="major">
                    <h2>Specialties</h2>
                </header>
                <ul class="features">
                    {% for item in site.subteam %}
                    <li>
                        <span class="icon major {{ item.iconstyle }} {{ item.icon }}"></span>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="third" class="main special">
                <header class="major">
                    <h2>AUV Competitions</h2>
                </header>
                    {% for item in site.competition %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <a href="{{ item.link }}"><i>Read more...</i></a>
                    </p>
                    <br>
                    {% endfor %}
            </section>
         
        </div>
